<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statusBarStyle</key>
	<integer>2</integer>

	<key>bottomInsetVersion</key>
	<integer>0</integer>

	<key>bottomInsetSize</key>
	<integer>18</integer>

	<key>appswitcherRoundness</key>
	<integer>19</integer>

	<key>screenRoundness</key>
	<integer>19</integer>

	<!-- Seperator -->

	<key>lsShortcutsEnabled</key>
	<true/>

	<key>homeBarSB</key>
	<false/>
	
	<key>homeBarLS</key>
	<false/>

	<key>PIP</key>
	<true/>

	<key>keyboardDock</key>
	<true/>

	<key>11Camera</key>
	<false/>
	
	<key>noGesturesForKeyboard</key>
	<false/>

	<key>quickKeyboard</key>
	<false/>

	<key>noIconLabel</key>
	<false/>

	<key>roundedAppSwitcher</key>
	<true/>

	<key>roundedCorners</key>
	<false/>

	<key>hideSBCC</key>
	<false/>

	<key>batteryPercent</key>
	<false/>

	<key>iPadDock</key>
	<false/>
	
	<key>proudLock</key>
	<false/>
	
</dict>
</plist>
